{% extends "header.html" %}
{% block body_content %}

<br>
<h2>List of Pending Requests</h2>

<br><br>


    {% csrf_token %}
    <table 
        id="table"
        class="table table-striped"
        data-height="auto"
        data-toggle="table"
        data-sort-class="table-active"
        data-filter-control="true"
        data-filter-control-visible="true"
    >   
    <thead class="thead-dark">
        <tr>
            <th  data-field="requestid" data-sortable="true">Request ID</th>
            <th  data-field="address" data-filter-control="input">Address</th>
            <th data-field="department" data-filter-control="select">Description</th>
            <th data-field="numvisits">No. of Visits</th>
            <th>Comments</th>
            <th data-field="nextdoa" data-sortable="true">Next Date of Appointment</th>
            
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        <tr>
            <td>{{ request.requestid }}</td>
            <td>{{ request.address }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.numvisits }}</td>
            <td>{{ request.comments }}</td>
            <td>{{ request.nextDoA }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}