{% extends "header.html" %}
{% block body_content %}

<br>
<h2>Accepted Requests</h2>

<br><br>

<form action = "request_staff" method="post"></form>
    {% csrf_token %}
    <table class="table table-striped">
        <tr>
        <thead class="table-light">
            <th>Request ID</th>
            <th>Address</th>
            <th>Description</th>
            <!-- <th>Yes/No</th> -->
            <!-- <th>Confirm Y/N</th> -->
            <th>Next Date of Appointment</th>
            <th>Status</th>
            <th>View Details</th>
            <th></th>
        </thead>
        </tr>
        {% for request in requests %}
            {% comment %} <!-- {% if %} --> {% endcomment %}
        <tr>
        <form method="POST">
        {% csrf_token %}
            <td>{{ request.requestid }}</td>
            <td>{{ request.address }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.doa }} </td>
            <!-- <td><input type="text" class="form-control" id="DoA" placeholder="Enter Y/N"></td> -->
            <!-- <td><input type="text" class="form-control" id="Yes/No" placeholder="Enter Y/N"></td> -->
            {% comment %} <td><input type="date" class="form-control" id="DoA" name="DoA" placeholder="Date of Appointment"></td> {% endcomment %}
            <input type="hidden" name="id" value="{{request.requestid}}"/>
            {% comment %} <td><button type="submit" name="updatedoa" class="btn btn-primary">update</td> {% endcomment %}
            {% if request.completed %}
            <td>Completed</td>
            {% else %}
            <td>In Progress</td>
            {% endif %}
            <!-- <td><button type="submit" name="updatedoa" class="btn btn-primary">View Details</td> -->
            <td><a class="btn btn-outline-primary" href="/appointments/{{request.requestid}}" role="button">view details</a></td>
            <!-- <td><input type="date" class="form-control" id="DoA" name="DoA" placeholder="Date of Appointment"></td> -->
            {% if not request.completed %}
            <td><button type="submit" name="complete"class="btn btn-success">Press if completed</td>
            {%else%}
            <td></td>
            {%endif%}
            {% comment %} <!-- {% endif %} --> {% endcomment %}
        </form>
        </tr>
        {% endfor %}
    </table>
   <br>
   <!-- <centre> <button type="submit" class="btn btn-primary">Submit</button></> -->
</form>
{% endblock %}