{% extends "header.html" %}
{% block body_content %}

<br>
<h2>List of Requests</h2>

<br><br>

<form action = "request_staff" method="post"></form>
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Request ID</th>
            <th>Address</th>
            <th>Description</th>
            <th>Yes/No</th>
            <th>Confirm Y/N</th>
            <th>Date of Appointment</th>
            
        </tr>
        {% for request in requests %}
            {% if request.department == 'plumber' %}
                <tr>
                    <td>{{ request.requestid }}</td>
                    <td>{{ request.address }}</td>
                    <td>{{ request.department }}</td>
                    <td><input type="text" class="form-control" id="DoA" placeholder="Enter Y/N"></td>
                    <td><input type="text" class="form-control" id="Yes/No" placeholder="Enter Y/N"></td>
                    <td><input type="date" class="form-control" id="DoA" placeholder="Date of Appointment"></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
   <br><centre> <button type="submit" class="btn btn-primary">Submit</button></>
</form>
{% endblock %}