{% extends "header.html" %}
{% block body_content %}

<br>
<h2>List of Incoming Requests</h2>

<br><br>


    <h3>New requests</h3>
    <table class="table">
        <tr>
            <th>Request ID</th>
            <th>Address</th>
            <th>Department</th>
            <!-- <th>Yes/No</th> -->
            <th>Date of Appointment</th>
            <th style="width:0%"></th>
            <th>Action</th>
            
        </tr>
        {% for request in requests %}
            {% if request.accepted == -1 %}
                <tr>
                <form method="post">
                    {% csrf_token %}
                    <td>{{ request.requestid }}</td>
                    <td>{{ request.address }}</td>
                    <td>{{ request.department }}</td>
                    <td><input type="date" class="form-control" id="DoA" name="DoA" placeholder="Date of Appointment"></td>
                    <td>
                        <!-- {{request.requestid}} -->
                        <input type="hidden" value="{{request.requestid}}" id="id" name="id"></input>
                    </td>
                    <td><button type="submit" class="btn btn-primary">Accept</button></td>
                    <!-- <td><input type="text" class="form-control" id="DoA" placeholder="Enter Y/N"></td> -->
                    <!-- {% comment %} <td><input type="text" class="form-control" id="Yes/No" placeholder="Enter Y/N"></td> {% endcomment %} -->
                </form>
                </tr>
            {% endif %} 
        {% endfor %}
    </table>
   <br>
   <!-- <centre>  -->
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

{% endblock %}