{% extends "header.html" %}
{% block body_content %}

<br>
<h2>Your Requested Services</h2>

<br><br>

<form action = "feedback_page" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <th>Request ID</th>
            <th>Service-Man ID</th>
            <th>Department</th>
            <th>Completed</th>
            <th>Rating</th>
            <th>Feedback</th>
            <th>Add Feedback</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{ request.requestid }}</td>
            <td>{{ request.serviceman_id }}</td>
            <td>{{ request.department }}</td>
            <td>{{ request.completed }}</td>
            <td>{{ request.rating }}</td>
            <td>{{ request.feedback }}</td>
            {% if reqeust.completed %}
            <td><button type="submit" value="{{ request.requestid }}" name="request">Add Feedback</button></td>
            {% else %}
            <td>Request not completed yet!</td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>
</form>
{% endblock %}