{% extends "header.html" %}
{% block body_content %}

<h1>Your Requested Services</h1>

<form action = "feedback_page" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Request ID</th>
            <th>Service-Man ID</th>
            <th>Department</th>
            <th>Completed</th>
            <th>Rating</th>
            <th>Feedback</th>
            <th>Add Feedback</th>
        </tr>
        {% for request in requests %}
            <td>{{ request.requestid }}</td>
            <td>{{ request.serviceman_id }}</td>
            <td>{{ request.department }}</td>
            <td>{{ request.completed }}</td>
            <td>{{ request.rating }}</td>
            <td>{{ request.feedback }}</td>
            <td><button type="submit" value="{{ request.requestid }}" name="request">Add Feedback</button></td>
        {% endfor %}
    </table>
</form>
{% endblock %}