{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-size:1.2em">
  <a class="navbar-brand" href="#">
  <img src="https://banner2.cleanpng.com/20180627/wcj/kisspng-customer-service-call-centre-technical-support-hel-admin-5b3323fe2c6794.4855451515300782061819.jpg" alt="" width="38" height="35" class="d-inline-block">
  Service Request Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> -->
      {% if user.is_staff %}
      <li class="nav-item {% if request.resolver_match.url_name == 'staff_page' %}active{% endif %}">
        <a class="nav-link" href="{% url 'staff_page' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item {% if request.resolver_match.url_name == 'user_page' %}active{% endif %}">
        <a class="nav-link" href="{% url 'user_page' %}">Home<span class='sr-only'>(current)</span></a>
      </li>
      {% endif %}

      {% if user.is_staff %}
      <li class="nav-item {% if request.resolver_match.url_name == 'serviceman_request' %}active{% endif %}">
        <a class="nav-link" href="{% url 'serviceman_request' %}">My Requests</a>
      </li>
      {% else %}
      <li class="nav-item {% if request.resolver_match.url_name == 'add_request' %}active{% endif %}">
        <a class="nav-link" href="{% url 'add_request' %}">Add Request</a>
      </li>
      {% endif %}
      {% if user.is_staff %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'serviceman_completed_request' %}">Completed  Requests</a>
          <a class="dropdown-item" href="{% url 'serviceman_inprogress_request' %}">Currently Inprogress  Requests</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      {% comment %} <li class="nav-item {% if request.resolver_match.url_name == 'serviceman_completed_request' %}active{% endif %}">
        <a class="nav-link" href="{% url 'serviceman_completed_request' %}">Completed  Requests</a>
      </li>
      {% else %}
      
      {% endif %}
      {% if user.is_staff %}
      <li class="nav-item {% if request.resolver_match.url_name == 'serviceman_inprogress_request' %}active{% endif %}">
        <a class="nav-link" href="{% url 'serviceman_inprogress_request' %}">Currently Inprogress  Requests</a>
      </li>
      {% else %}
      
      {% endif %}
      {% comment %} <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> {% endcomment %}
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a name="logoutnav" class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% endif %}
    </ul>
    <span class="navbar-text">
      Welcome {{user.username}}
    </span>
  </div>
</nav>
{% endblock %}
